doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title heapOverflow | Edit profile
  link(rel='icon' href='images/favicon.svg')
  link(rel='stylesheet' href='css/editProfile.css')
body
  include header.pug
  div
    form(action=`/saveDetails?targetPath=/profile?userId=${user.id}` method='post')
      h1.title Edit your profile
      .container
        .top-lane
          img.profileImg(src=`${user.avatar}` alt='avatarImg')
          .personalInfo
            label(for='name') 
              |Name
              span.red &nbsp;*
            input#name(type='name' name='name' value=`${user.display_name}` required)
            label(for='email') E-mail
            if(user.email)
              input#email(type='email' name='email' value=`${user.email}`)
            else
              input#email(type='email' name='email' placeholder='ex. email@gmail.com')
            label(for='location') Location
            if(user.location)
              input#location(type='location' name='location' value=`${user.location}`)
            else
              input#location(type='location' name='location' placeholder='ex. Delhi')
        .middle-lane
          label(for='bio') About me
          if(user.bio)
            input#bio(type='bio' name='bio' value=`${user.bio}`)
          else
            input#bio(type='bio' name='bio' placeholder='ex. I am a developer.')
        .bottom-lane
          button#submit(type='submit') Save
          a#cancel(href=`/profile?userId=${user.id}`) Cancel

