link(rel='stylesheet' href='css/header.css')
link(href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600&display=swap" rel="stylesheet")
.header
  a#icon(href='/home' alt='home' title='heapOverFlow')
    img(src='images/appIcon.png' alt='heapOverflow Icon')
  div#searchBar
    img(src='images/search.svg' alt='search icon')
    form(action="/search" id="searchForm")
      if(searchQuery)
        input(value=searchQuery type='search' id='searchField' autocomplete="off"  placeholder='Search..' name='searchQuery')
      else
        input(type='search' id='searchField' autocomplete="off" placeholder='Search..' name='searchQuery')
    #searchMenu.dropDown
      .dropDownArrow
      p 
        span.option #tag 
        span.description search by tag
      p 
        span.option @user 
        span.description search by author
      p 
        span.option phrase
        span.description search by phrase
  if (user)
    button#profileButton
      img(src=user.avatar alt='avatar')
      .profileDropDown
        .dropDownArrow
        a(href=`/profile?userId=${user.user_id}`) Profile
        a(href='/logout') Logout
  else
    a.headerButton#login(href=`/entry?type=login&targetPath=${currPath}`)
      ='Login'
    a.headerButton#signUp(href=`/entry?type=signUp&targetPath=${currPath}`)
      ='Sign Up'