doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/css/home.css")
  link(rel='icon' href='/images/favicon.svg')
  title heapOverflow | Home
body
  include header.pug
  include titleBar.pug

  if(questions.length == 0)
    .noQuestion
      | No Questions Posted Yet. You can start asking a question.
  else
    each question in questions
      .topQuestionsBox(id=question.id)
        .questionDetails
          .questionTitle
            a(href='/question?id='+question.id) #{question.title}
          .tags
            each tag in question.tags
              a.tag(href=`/search?searchQuery=%23${tag}`) #{tag}
          p.status
            img.smallAvatar(src=question.ownerAvatar)
            a.strong(href=`/profile?userId=${question.owner}`) #{question.ownerName}
            | &nbsp;&nbsp;#{question.created} 
        .answerCount
          p.count(class= question.hasCorrectAnswer?'hasCorrect':'') #{question.answerCount}
          p.countType Answers 
        .voteCount
          p.count #{question.voteCount}
          p.countType Votes 
