doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='/images/favicon.svg')
  link(rel='stylesheet' href='/css/profile.css')
  title heapOverflow | Profile
body
  include header.pug

  .outerContainer
    .detailsContainer
      img#avatar(src=`${requestedUser.avatar}` alt='avatar')
      #info
        p#displayName #{requestedUser.display_name}
        if(requestedUser.email)
          p#email
            img(src='/images/mail.png' alt='mailIcon')
            | &nbsp;#{requestedUser.email}
        if(requestedUser.location)
          p#location
            img(src='/images/location.png' alt='')
            | &nbsp;#{requestedUser.location}
        if(requestedUser.bio)
          p#bio #{requestedUser.bio}
        else
          p#bio.default (About me for this profile is currently blank.)
        if(user && user.id == requestedUser.id)
          a#editProfileButton(href=`/user/editProfile`) Click here to edit
    .stats
      p.laneTitle Tags (#{tags.length})
      .tags
        if(tags.length > 0)
          .contents
            each tag in tags
              a.tag(href=`/search?searchQuery=%23${tag}`) #{tag}
        else
          p.empty No Tags Yet
      p.laneTitle Notes (#{questions.length})
      #questions
        if(questions.length > 0)
          .contents
            each question in questions
              a(href=`/question/${question.id}`) #{question.title}
        else
          p.empty No Questions Yet
      //- p.laneTitle Answers (#{answers.length})
      //- #answers
      //-   if(answers.length > 0)
      //-     .contents
      //-       each answer in answers
      //-         a(href=`/question/${answer.quesId}`) #{answer.questionTitle}
      //-   else
      //-     p.empty No Answers Yet
