doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js')
  script(src='https://cdn.quilljs.com/1.3.6/quill.js')
  link(rel='icon' href='images/favicon.svg')
  link(rel='stylesheet' href='css/editorStyles.css')
  link(rel='stylesheet' href='css/question.css')
  script(src='scripts/question.js')
  title heapOverflow | Question
body
  include header.pug
  include titleBar.pug
  .questionBox(id= id)
    //- .stats
    .body
      .editor
      //- .tagStrip
      .modifier
        .options
          //- .editButton
          //- .commentsBox
          //- .commentBar
        .ownerInfo
          p modified #{lastModified}
          p 
            | by 
            a.strong(href=`/profile?userId=${owner}`) #{ownerName}
  p#answersHead Answers (#{answers.length})
  each answer in answers
    .answerBox(id=answer.id)
      //- .stats
      .body
        .editor
        .modifier
          .options
            //- .editButton
            //- .commentsBox
            //- .commentBar
          .ownerInfo
            p answered #{answer.created}
            p 
              | by 
              a.strong(href=`/profile?userId=${answer.owner}`) #{answer.ownerName}
    hr.separator
  #answerBody
    #editor
  button#answerButton Post Your Answer
