doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='/images/favicon.svg')
  link(rel='stylesheet' href='/css/search.css')
  title heapOverflow | Search
include header.pug
include titleBar.pug
if(questions.length == 0)
  .noQuestion
    | Sorry! No notes found with the given query. Try to be more precise.
else
  each question in questions
    .questionBox
      .details
        a.title(href=`/question/${question.id}`) #{question.title}
        p.bodyText
          each line in question.bodyText.slice(0,2)
            | #{line}
            br
        .tags
          each tag in question.tags
            a.tag(href=`/search?searchQuery=%23${tag}`) #{tag}
        p.status
          img.smallAvatar(src=question.ownerAvatar)
          a.userName(href=`/profile/${question.owner}`) #{question.ownerName}
          | &nbsp;&nbsp;#{question.created}
      //- .counts
      //-   .answersCount
      //-     p.count(class= question.hasCorrectAnswer?'hasCorrect':'') #{question.answerCount}
      //-     p.countType Answers
      //-   .voteCount
      //-     p.count #{question.voteCount}
      //-     p.countType Votes
