link(rel='stylesheet' href='/css/titleBar.css')
include popUp.pug
#titleBar
  h1 #{title}
  if(user)
    a#askQuestionBtn(href= '/user/askQuestion') Ask Question
  else
    a#askQuestionBtn(onclick= 'showPopUp(\'/user/askQuestion\')') Ask Question
if created
  p#questionStatus
    img.smallAvatar(src=ownerAvatar)
    a.strong(href=`/profile?userId=${owner}`) #{ownerName}
    | &nbsp;&nbsp;#{created}
hr.separator