link(rel='stylesheet' href='/css/titleBar.css')
include popUp.pug
#titleBar
  h1.title #{title}
  if(user)
    a#askQuestionBtn(href= '/user/askQuestion') Add Note
  else
    a#askQuestionBtn(onclick= 'showPopUp(\'/user/askQuestion\')') Add Note
if created
  div#subTitle
    p#questionStatus
      img.smallAvatar(src=ownerAvatar)
      a.userName(href=`/profile/${owner}`) #{ownerName}
      | &nbsp;&nbsp;#{created}
    div.deleteEditButtons
      button.editNote Edit
      button.deleteNote Delete
hr.separator